<div class="container dark:bg-gray-800 rounded mx-auto my-20 flex flex-wrap lg:justify-between">
  <div class="w-full lg:w-2/3 lg:mr-5 mb-5 lg:mb-0 px-5 mt-10">
    <%= yield :primary_content %>
  </div>
  <div class="w-full lg:w-1/4 rounded-3xl px-5 mt-10">
    <%= yield :secondary_content %>
  </div>
</div>