<div class="container mx-auto flex flex-wrap lg:justify-between">
  <div class="w-full lg:w-2/3 lg:mr-5 rounded-3xl mb-5 lg:mb-0 p-5">
    <%= yield :primary_content %>
  </div>
  <div class="w-full lg:w-1/4 rounded-3xl">
    <%= yield :secondary_content %>
  </div>
</div>