<div class="md:px-2 container rounded mx-auto my-10 flex flex-wrap lg:justify-between">
  <div class="w-full lg:w-[68%] mb-5 lg:mb-0 px-5 mt-10 xl:px-10 2xl:px-24">
    <%= yield :primary_content %>
  </div>
  <div class="w-full lg:w-[30%] px-5 lg:p-0 mt-10">
    <%= yield :secondary_content %>
  </div>
</div>