<% flash.each do |type, message| %>
  <div class="flash__message" data-controller="removals" data-action="animationend->removals#remove">
    <div class="text-center <%= tailwind_class_for(type) %> px-5 py-2" role="alert">
      <p><%= message %></p>
    </div>
  </div>
<% end %>