<div class="d-flex justify-content-center bg-primary align-items-center vh-100 mt-auto mb-auto">
  <div class="rounded-2 shadow bg-white border-1 px-4 py-5 w-25">
    <%= yield :form_wrap %>
  </div>
</div>