<div class="flex justify-center items-center bg-primary dark:bg-gray-900 h-screen mt-auto mb-auto">
  <div class="rounded shadow-md bg-white dark:bg-gray-800 border border-secondary dark:border-gray-800 px-4 py-5 w-1/4">
    <%= yield :form_wrap %>
  </div>
</div>