<div class="flex justify-between items-center border-b border-gray-200 dark:border-gray-700 p-5 mb-10">
  <h1 class="h1 mb-5">Articles</h1>
  <%= link_to "New Article", new_admin_article_path, class: "button" %>
</div>
<%= render "admin/articles/article", articles: @articles %>