<% if policy(@article).manage? %>
  <div class="flex justify-between items-center border-b border-gray-200 dark:border-gray-700 p-5 mb-10">
    <%= link_to "Edit Article", edit_admin_article_path(@article), class: "button" %>
  </div>
<% end %>

<%= render 'layouts/show_article_template' %>
