<div class="py-5">
  <% hero_text.each do |hero| %>
    <div class="text-center">
      <h1 class="mb-3"><%= hero[:title] %></h1>
      <p class="text-secondary"><%= hero[:description] %></p>
    </div>
  <% end %>
</div>

<div class="row align-items-center">
  <% @articles.each do |article| %>
    <%= render article %>
  <% end %>
</div>
