<%= render "hero" %>

<div class="bg-gray-100 dark:bg-gray-900 py-18 px-5">
  <div class="container mx-auto grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-5">
    <% @articles.each do |article| %>
      <%= render article %>
    <% end %>
  </div>
  <div class="container mx-auto my-10">
    <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
  </div>
</div>