<%= render "hero" %>

<div class="bg-body-tertiary py-7">
  <div class="container mx-auto row align-items-center">
    <% @articles.each do |article| %>
      <%= render article %>
    <% end %>
    <div class="my-3">
      <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
    </div>
  </div>
</div>

