<li>
  <%= link_to path, class: "flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group" do %>
    <%= icon %>
    <span class="ms-3"><%= text %></span>
  <% end %>
</li>