<footer class="flex items-center justify-center border-t border-gray-200 dark:border-gray-700 bg-white dark:bg-gray-800" style="height: 60px;">
  <div class="container text-center">
    <p class="mb-0">Made with <span class="text-primary">♥</span> by
      <a href="https://jeanemmanuelcadet.com" aria-label="Jean Emmanuel Cadet" target="_blank" class="text-decoration-none text-primary">@jecode93</a>
    </p>
  </div>
</footer>