<nav class="bg-primary h-full">
  <div class="container h-full">
    <%= link_to "Code Curious", root_path, class: "logo text-white font-bold text-2xl mb-5" %>
    <div>
      <% if admin_signed_in? %>

        <%= link_to "Log out", destroy_admin_session_path, method: :delete, data: { turbo_confirm: "Are you sure?", turbo_method: :delete }, class: "text-white hover:underline py-2 px-3 block mt-auto" %>
      <% end %>
    </div>
  </div>
</nav>