<nav class="bg-primary h-full">
  <div class="container h-full">
    <%= link_to "Code Curious", root_path, class: "text-white font-bold text-2xl mb-5" %>
    <div>
      <% if admin_signed_in? %>
        <div class="flex flex-col h-full mb-2 lg:mb-0">
          <div class="w-full">
            <a href="#" class="block py-3 px-3 text-white bg-blue-700 hover:bg-blue-800 rounded-lg text-left flex items-center justify-between" data-bs-toggle="collapse" data-bs-target="#submenu" aria-expanded="false" aria-controls="submenu">
              Profile
              <i class="bi bi-caret-down-fill"></i>
            </a>
            <div id="submenu" class="collapse ps-3">
              <%= link_to "Profile", profile_path(current_admin), class: "text-gray-800 hover:text-primary py-2 px-3 block" %>
              <%= link_to "Edit Profile", edit_profile_path(@admin), class: "text-gray-800 hover:text-primary py-2 px-3 block" %>
            </div>
            <%= link_to "Log out", destroy_admin_session_path, method: :delete, data: { turbo_confirm: "Are you sure?", turbo_method: :delete }, class: "text-gray-800 hover:text-primary py-2 px-3 block mt-auto" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</nav>