<h1>Welcome to codecurious.com, <%= @admin.name %></h1>
<p>Your account has been created successfully.</p>
<p><strong>Email:</strong> <%= @admin.email %></p>
<p><strong>Temporary Password:</strong> <%= @password %></p>
<p>Please log in and update your password as soon as possible.</p>
<p><%= link_to 'Login Here', @url %>.</p>
<p>Thanks for joining and have a great day!</p>
