<h1>Welcome to codecurious.com, <%= @admin.name %></h1>
<p>
  You have successfully signed up to codecurious.com,
  use this email address to connect to your account: <%= @admin.email %>.<br>
</p>
<p>
  To log in to the site, just follow this link: <%= link_to 'Login', @url %>.
</p>
<p>Thanks for joining and have a great day!</p>
