body {
  background-color: $body-tertiary-bg;
}

.nav-link {
  color: white;
}

.hover-text-info:hover {
  color: $secondary;
}

.navbar-toggler {
  border: 2px solid $secondary !important;
}

svg {
  height: 1.5rem;
  width: 1.5rem;
}

::placeholder {
  color: rgba(128, 128, 128, 0.6) !important;
}
