:root {
    /* this has to be set to switch between light or dark */
    color-scheme: light dark;

    --light-bg: #f3f4f6;
    --light-color: #4b5563;
    --light-code: #111827;

    --dark-bg: #374151;
    --dark-color: #d1d5db;
    --dark-code: #ffffff;
}