<div class="container row mx-auto d-lg-flex justify-content-between my-6">
  <div class="col-12 col-lg-8 mr-5 bg-white rounded-3 p-5 shadow-sm mb-5 mb-lg-0">
    <%= yield :primary_content %>
  </div>
  <div class="col-12 col-lg-3 bg-white rounded-3 p-3 shadow-sm">
    <%= yield :secondary_content %>
  </div>
</div>
