<div class="container row mx-auto d-lg-flex justify-content-between">
  <div class="col-12 col-lg-8 mr-5 rounded-3 mb-5 mb-lg-0 p-5">
    <%= yield :primary_content %>
  </div>
  <div class="col-12 col-lg-3 rounded-3">
    <%= yield :secondary_content %>
  </div>
</div>
